
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="{{constant('member\\Bootstrap::APP_URL')}}js/common.js"></script>
		<link href="{{constant('member\\Bootstrap::APP_URL')}}css/style.css" rel="stylesheet">
		<title>Wine Checker</title>
	</head>
	<body>
		<img src="./image/wineTop.png"/>
		<p>
			ワインって種類が多すぎて何が自分に合うワインなのかわからない…
			そう思った経験はありませんか？
			このサイトは10個の質問に答えるだけで、あなたにぴったりのワインを診断いたします！
			あなたにぴったりのワインを選んで、ワインライフをもっと楽しんでみませんか？
		</p>
		<h5>\ 好みのワインを簡単に診断！ /</h5>
		<h1>ワイン診断</h1>

	</body>
</html>
